

Django==5.2.1
djangorestframework
django-cors-headers
djangorestframework-simplejwt
requests

asgiref==3.8.1
sqlparse==0.5.3


httpx
langchain==0.3.25
langchain_community==0.3.24
langchain_huggingface==0.2.0
faiss-cpu==1.11.0
pypdf==5.5.0
wikipedia==1.4.0
transformers==4.51.3
deep-translator==1.11.4
fpdf==1.7.2
python-slugify==8.0.4
pandas==2.2.3
keras==3.10.0
tensorflow==2.16.2
tf_keras==2.16.0
matplotlib==3.10.3